<div>
  <p>First Name: {{firstName}}</p>
  <p>Last Name: {{lastName}}</p>
  <p>Email Address: {{emailAddress}}</p>
  <p>Phone Number: {{phoneNumber}}</p>
  <p>Fees : {{fees}}</p>
  <p>Description : {{description}}</p>
  <p>Address : {{address}}</p>
  <p>City : {{city}}</p>
  <p>State : {{state}}</p>
  <p>Zip Code: {{zipCode}}</p>
  {{#if edit}}
    <div id="edit-section">
      <div>
        <form
          id="dietitian-edit-profile-form"
          action="/dietitian/profile/edit"
          method="get"
        >
          <button type="submit" id="edit_btn">Edit</button>
        </form>

      </div>
      <div>
        <form
          id="dietitian-delete-profile-form"
          action="/dietitian/profile/delete"
          method="get"
        >
          <button type="submit" id="delete_btn">Delete Account</button>
        </form>
        
        
         <a href="/logout"> <button type="submit" id="delete_btn">Logout</button></a>
        
      </div>
    </div>
    {{else}}
    <div>
    <a href="/">Back to Homepage</a>
  </div>
  {{/if}}
  {{#if bookappointment}}
    <form
      id="dietitian-appointment-form"
      action="/dietitian/bookappointment/{{id}}"
      method="get"
    >
      <button type="submit" id="edit_btn">Book Appointment</button>
    </form>
  {{/if}}

</div>