{{!--

registration handelbars

--}}
  <h2>Fitness Center Profile</h2>
  <p>Name: {{fitnesCenterName}}</p>
  <p>Email Address: {{emailAddress}}</p>
  <p>Phone Number: {{phoneNumber}}</p>

<form id="restauenat-registration-form" action="/fitness/fitnesseditprofile" method="POST">
  <label for="address">Address :</label>
  <input type="text" id="address" name="address" value="{{address}}" />
  <br />
  
  <label for="zipcode">Zip Code:</label>
  <input type="text" id="zipcode" name="zipcode" value="{{zipcode}}" />
  <br/>
  <label for="activites">Activites:</label>
  <input type="text" id="activites" name="activites" value="{{activites}}" />
  <br/>
  <label for="description">Dietitian Description:</label>
  <textarea
    id="description"
    name="description"
    required="true"
  >{{description}}</textarea>
  <br />
  <br />
    <div class="form-group" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" id="btn_sub">Save</button>
      </div>
    
  
</form>

{{!-- {{#if error}} --}}
  

{{!-- {{/if}} --}}