
<div>
  <h2>Fitness Center Profile</h2>
  <p>Name: {{fitnesCenterName}}</p>
  <p>Email Address: {{emailAddress}}</p>
  <p>Phone Number: {{phoneNumber}}</p>
  <p>Address: {{address}}</p>
  <p>Zip Code: {{zipcode}}</p>
  <p>Activites: {{activites}}</p>
  <p>Description : {{description}}</p>
  <div id="edit-section">
    <form id="fitness-profile-form"   action="/fitness/fitnesseditprofile" method="get" >
      <button type="edit" id="edit_btn">Edit</button>
    </form>
  </div>
  <div>
    <a href="/logout">Logout</a>
  </div>

</div>