{{ main header="Page 1 Header"}}
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profileuser">Profile</a></li>
      <li><a href="/logutuser">Logout</a></li>
    </ul>
  </nav>
</header>


<style>
  body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2, h3, p {
    margin: 0;
    color: #663300;
  }
  
  .column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .list {
    width: 48%;
    list-style: none;
    margin: 25px;
    padding: 0;
  }
  
  .item {
    margin: 20px 0;
    padding: 20px;
    background-color: #f7d9c1;
    border-radius: 10px;
  }
  
  .item a {
    text-decoration: none;
  }
  
  .item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .item p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .item img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
  }
</style>


<div class="user_health">
    
        {{#if userData}}
            <p>Have data {{userData.firstName}}</p>
            
            <h2>Your BMI is {{bmi}}</h2>
            <h3>{{bmiVal}}</h3>
        {{else}}
            <p>Not</p>
        {{/if}}
        
</div>

<div class="column">
  <div class="list">
    <h1 class="title">Restaurants</h1>
    {{#if resdatalist}}
      {{#each resdatalist}}
        <li class="item">
          <a href="/restaurantdetails/{{id}}">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            {{#if image}}
              {{#each image}}
                <img class="image" src={{image}} alt="{{name}}">
              {{/each}}
            {{else}}
              <img class="image" src="../public/image/No_Image_Available.jpg" alt="No Image">
            {{/if}}
          </a>
        </li>
      {{/each}}
    {{else}}
      <p>No Restaurant found.</p>
    {{/if}}
  </div>

  <div class="list">
    <h1 class="title">Fitness Centers</h1>
    {{#if fitnessatalist}}
      {{#each fitnessatalist}}
        <li class="item">
          <a href="/fitnesdetails/{{id}}">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            {{#if images}}
              {{#each images}}
                <img class="image" src={{url}} alt="{{name}}">
              {{/each}}
            {{else}}
              <img class="image" src="../public/image/No_Image_Available.jpg" alt="No Image">
            {{/if}}
          </a>
        </li>
      {{/each}}
    {{else}}
      <p>No Fitness found.</p>
    {{/if}}
  </div>

   <div class="list">
    <h1 class="title">Dietitians</h1>
    {{#if dietitiansList}}
      {{#each dietitiansList}}
        <li class="item">
          <a href="/dietitian/profile/{{_id}}">
            <h3>{{firstName}} {{lastName}}</h3>
            <p>{{description}}</p>
          </a>
        </li>
      {{/each}}
    {{else}}
      <p>No Dietitians found.</p>
    {{/if}}
  </div>
</div>

