
<div>
  <h2>Fitness Center Profile</h2>
  <p>Name: {{fitnesCenterName}}</p>
  <p>Email Address: {{emailAddress}}</p>
  <p>Phone Number: {{phoneNumber}}</p>
  <p>Address: {{address}}</p>
  <p>Zip Code: {{zipcode}}</p>
  <p>Activites: {{activites}}</p>
  <p>Description : {{description}}</p>
  <div>
    <a href="/">Back to Homepage</a>
  </div>

</div>




